{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <!-- Employee Title -->
    <h1 class="text-center">{{ employee.first_name }} {{ employee.last_name }}</h1><br>

	<!-- Contact Info -->
	<div class="row mb-4">
		<div class="col-md-12">
			<div class="card shadow-card">
				<div class="card-header">Kontakt</div>
				<div class="card-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Imię i Nazwisko</th>
								<th>Tel</th>
								<th>E-mail</th>
								<th>Specjalizacja</th>
								<th>Grupa</th>
								<th>Dział</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{ employee.first_name }} {{ employee.last_name }}</td>
								<td><a href="tel:{{ employee.phone_number }}">{{ employee.phone_number }}</a></td>
								<td><a href="mailto:{{ employee.e_mail }}">{{ employee.e_mail }}</a></td>
								<td>
									{% for spec in employee.employeespecialization_set.all %}
										{{ spec.specialization.name }} {{ spec.skill_level }}<br>
									{% endfor %}
								</td>
								<td>
									{% for group in employee.groups.all %}
										{{ group.name }}<br>
									{% endfor %}
								</td>
								<td>
									{% if employee.department %}
										{{ employee.department.name }}
									{% else %}
										N/A
									{% endif %}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


    <!-- Events -->
    <div class="card mb-4">
        <div class="card-header">Wydarzenia</div>
        <div class="card-body shadow-card">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Data rozpoczęcia</th>
                        <th>Data zakończenia</th>
                        <th>Miejsce</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                    <tr class="{% cycle 'table-secondary' 'table-default' %}">
                        <td><a href="{% url 'events:event_detail' event.id %}">{{ event.name }}</a></td>
                        <td>{{ event.start_time|date:"d.m.Y" }}</td>
                        <td>{{ event.end_time|date:"d.m.Y" }}</td>
                        <td>{{ event.place.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
