Django==4.2.5
django-colorfield==0.10.1
django-debug-toolbar==4.2.0
Faker==19.6.2
Pillow==10.0.1
psycopg2==2.9.8
python-slugify==8.0.1
django-select2==8.1.2
django-phonenumber-field[phonenumber]==7.1.0
