{% load static %}
<!DOCTYPE html>
	
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logistyka</title>

	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link href="{% static 'admin/css/vendor/select2/select2.min.css' %}" rel="stylesheet" />
	<script src="{% static 'admin/js/vendor/select2/select2.full.min.js' %}"></script>


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'events:event_list' %}">Eventy</a>
                </li>
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'admin:index' %}">Panel Administracyjny</a>
				</li>

                <!-- Możesz dodać więcej linków w nawigacji według potrzeb -->
            </ul>
        </div>
    </nav>

    <div class="container-fluid mt-5">
        {% block content %}
        <!-- Treść konkretnego szablonu będzie tu wstawiana -->
        {% endblock %}
    </div>

<!--
    <footer class="text-center mt-5">
        <p>&copy; 2023 Twoja Firma. Wszystkie prawa zastrzeżone.</p>
    </footer>
-->

</body>
</html>
